body {
  margin-left: 25%;
}
#tweet {
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px 50px 5px;
    padding: 0 16px 30px 16px;
    max-width: 468px;
}
#tweetimage {
  width: 100%;
}
#datetime {
    color: gray;
    font-size: 14px;
    font-weight: normal;
    line-height: 10px;
}
#likes {
    color: gray;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    float: left;
}
#handle {
    color: gray;
    font-weight: normal;
    font-size: 14px;
    line-height: 0px;
    outline: 0 none;
}
p {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
}
